*{
    margin: 0;
    padding: 0;
}
body main{
    height: 95vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(lightblue,#70e0ff);
    align-items: center;
    color: #00303d;
}
.location, .temperatur{
    height: 70vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.location h1{
    font-size: 60px;
}
.temperatur{
    flex-direction: column;
}
.degre{
    font-size: 150px;
    color: #fdffd6;
}
.temperatur div{
    display: flex;
}
#fc{
    color: aliceblue;
    font-size: 18px;
    cursor: pointer;
}
.discription{
    font-size: 25px;
    color: aliceblue;
}
footer{ 
    
    text-align: center;
    background-color: #70e0ff;
    padding: 6px;
}
